@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
.lists-container{
  text-align: center;
  padding: 3rem;
  letter-spacing: .1rem;
  font-family: 'Poppins', sans-serif;

}
.lists-container h1{
  line-height: 4rem;
}
.card{
  font-family: 'Poppins', sans-serif;
  line-height: 2rem;

}
.card:hover{
  background-color: #ccc;
  cursor: pointer;
  box-shadow: .1px .1px 1rem #000 ;
}
.copyrigt-footer{
  color: navy;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: .1rem;
  font-family: 'Poppins', sans-serif;
}
.table{
  margin-top: 3rem;
  width: 100%;
}


